body {
  font-family: 'Black And White Picture', sans-serif;
  background-color: #ffffff;
}

.file-upload{
    padding: 0% 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #000000;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 70%;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance{
    padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand{
    line-height: 1.68;
    text-align: left;
    color: #35465d;
}

.navbar-light .navbar-toggler{
    border-color: #ffffff;
}

.section{
    margin-top: 100px;
}

.title{
    line-height: 1.67;
    text-align: center;
    color: #35465d;
}

.subtitle{
    line-height: 1.53;
    text-align: center;
    color: #35465d;
}

@media screen and (max-width: 600px) {
  html {
        font-size: 10px;  
    }
    .navbar-brand{
        font-size: 2rem;
    }
}



.image-upload-wrap{
    width: 80%;
    height: 40%;
    border-radius: 10px;
    border: dashed 2px #35465d;
    background-color: #ffffff;
    margin: 0 auto;
}

.image-upload-wrap:hover{
    background-color: #35465d;
    border: 1.5px dashed #ffffff;
}

.drag-text{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2rem;
    line-height: 1.67;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.gender{
    padding-top: 5%;
    font-size: 1.2rem;
    line-height: 1.67;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.bar-container {
  height: 2.7rem;
}

.DINOSAUR-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.DINOSAUR-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.DEER-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.DEER-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.DOG-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.DOG-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.CAT-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.CAT-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 176, 59, 1);
}
.BEAR-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.BEAR-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}
.FOX-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.FOX-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}
.RABBIT-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.RABBIT-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}

.d-flex .animal-label {
    width: 20%;
    text-align: left;
    margin: 0 auto;
    height: 2rem;
}

.ad-banner{
    display: none;
    margin: 0 auto;
}